* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url("../assets/wallpaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin-top: auto;
}

main {
    margin: auto 0;
}

footer {
    margin: auto 0;
    align-items: center;
}

.hide {
    display: none !important;
}

.container {
    width: 100%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 30px;
    opacity: 0.8;
}

/* IMC Form */

#calc-container h2 {
    text-align: center;
    color: #000;
    padding: 2rem;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}

.form-control label {
    font-weight: bold;
    color: #000;
    margin-bottom: .6rem;
}

.form-control input {
    padding: 1rem .5rem;
    margin-bottom: .5rem;
}

.action-control {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
}

button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: #fed455;
    border: none;
    color: #000;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.8;
    flex: 1;
}

button:hover {
    opacity: 1;
}

#clear-btn {
    background-color: #d2d2d2;
}

/* Table */

#result-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#imc-number {
    font-size: 2.4rem;
    margin-bottom: .6rem;
}

#imc-info {
    font-size: 1.4rem;
    color: #000;
}

#result-container h3 {
    margin-top: 1rem;
    color: #000;
}

#imc-table {
    margin: 1.5rem 0;
    font-size: .8rem;
}

.table-header {
    font-weight: bold;
    color: #000;
}

.table-header,
.table-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #444;
}

.table-header h4,
.table-data p {
    flex: 1;
}

.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
    max-width: 80px;
}

#back-btn {
    align-self: center;
}

.level-1 {
    color: #009a47;
}

.level-2 {
    color: #89c53f;
}

.level-3 {
    color: #bcd732;
}

.level-4 {
    color: #faa419;
}

.level-5 {
    color: #f47622;
}

.level-6 {
    color: #d0171f;
}

.level-7 {
    color: #231f20;
}

