/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#2978fe, #6b6efe);
    color: #fff;
}

main {
    margin: auto 0;
}

footer {
    margin: auto 0;
    align-items: center;
}

/* Class's Styles */

/* Style of Navbar menu */
.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}

.subtitle {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
}

.back-button {
    width: 30px;
    height: 30px;
}

#imc-text {
    padding-top: 1rem;
}

/* Hide/Show elements */
.hide {
    display: none !important;
}

.container {
    width: 100%;
    padding: 1rem;
}

/* IMC Form */

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .6rem;
}

.form-control input {
    padding: 1rem .5rem;
    margin-bottom: .5rem;
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    border: none;
}

.wrapper {
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    color: #000;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 0 0;
}

.wrapper .input-data {
    height: 40px;
    width: 100%;
    position: relative;
}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    font-size: 17px;
    background: transparent;
    color: #fff;
}

.wrapper .input-data input:focus ~ label,
.wrapper .input-data input:valid ~ label
 {
    transform: translateY(-20px);
    font-size: 15px;
}

.wrapper .input-data label {
    position: absolute;
    bottom: 12px;
    left: 0;
    color: white;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper .input-data .underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}

.wrapper .input-data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.wrapper .input-data input:focus ~ .underline:before,
.wrapper .input-data input:valid ~ .underline:before{
    transform: scaleX(1);
}

.action-control {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
}

button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: #fff;
    border: none;
    color: #000;
    border-radius: 10px;
    cursor: pointer;
    flex: 1;
    font-weight: 600;
}

button:hover {
    opacity: 0.8;
}

#clear-btn {
    background-color: #d2d2d2;
}

/* Table */

#result-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
}

#imc-number {
    font-size: 2.4rem;
    margin-bottom: .6rem;
    color: #000;
}

#imc-info {
    font-size: 1.4rem;
    color: #000;
}

#result-container h3 {
    margin-top: 1rem;
    color: #000;
}

#imc-table {
    margin: 1.5rem 0;
    font-size: .8rem;
}

.table-header {
    font-weight: bold;
    color: #000;
}

.table-header,
.table-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #444;
}

.table-header h4,
.table-data p {
    flex: 1;
}

.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
    max-width: 80px;
}

#back-btn {
    align-self: center;
    padding: 1.5rem;
    background-color: #0076ff;
    color: #fff;
}

.level-1 {
    background-image: linear-gradient(#0076ff, #4b6cff);
}

.category-1 {
    background-color: #0076ff;
    border-radius: 10px;
    padding: .3rem;
}

.level-2 {
    background-image: linear-gradient(#0076ff, #4b6cff);
}

.category-2 {
    background-color: #0076ff;
    border-radius: 10px;
    padding: .3rem;
}

.level-3 {
    background-image: linear-gradient(#0fe872, #07abbc);
}

.category-3 {
    background-color: #0fe872;
    border-radius: 10px;
    padding: .3rem;
}

.level-4 {
    background-image: linear-gradient(#ffcf1b, #ff6333);
}

.category-4 {
    background-color: #ffcf1b;
    border-radius: 10px;
    padding: .3rem;
}

.level-5 {
    background-image: linear-gradient(#ff0149, #ff7030);
}

.category-5 {
    background-color: #ff0149;
    border-radius: 10px;
    padding: .3rem;
}

.level-6 {
    background-image: linear-gradient(#a1002e, #ce4d11);
}

.category-6 {
    background-color: #a1002e;
    border-radius: 10px;
    padding: .3rem;
}

.level-7 {
    background-image: linear-gradient(#410012, #351100);
}

.category-7 {
    background-color: #410012;
    border-radius: 10px;
    padding: .3rem;
}
